
<head>
  <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script> -->
	<script src="http://connect.soundcloud.com/sdk.js"></script>
	<script src="https://w.soundcloud.com/player/api.js"></script>
</head>

<script>
	
	SC.initialize({
	  client_id: '173c1924dc4e55b0db3b89a45bb71561'
	});


	function getUserFavoriteTracks() {
		var soundcloud_id =  <%= current_user.soundcloud_user_id %>
		SC.get('/users/'+soundcloud_id+'/favorites', function(favorites) {
			for (var i=0; i<favorites.length; i++) {
				var trackTitle = favorites[i].title;
				var trackId = favorites[i].id;
				var trackStreamUrl = favorites[i].stream_url;
				$('#favorite_tracks').append("<p class='track' data-track-id="+trackId+" data-track-order="+i+">"+trackTitle+"</p>")
			}
			$('.track').click(function(e) {
				console.log('this click?');
				playTrack($(this).data('track-id'));
			});	
    });
	};

    
   function playTrack(id) {
   	console.log(id);
    SC.whenStreamingReady(function() {
     
	     	var sound = SC.stream(id, { autoPlay: false }, function(sound){
     		console.log(sound);
      	sound.play({
      		onfinish: function(){
      			alert('track_finished');
      		}
      	});
    	});
     	$('#pause').click(function(e){
     			sound.pause();
     	});
     	$('#play').click(function(e){
     			sound.resume();
     	});
  	});
	}

	getUserFavoriteTracks();

</script>


  <div class="large-9 columns">
    
    <h1>User's Page</h1>

    <div id="player">
    </div>

    <div id="play">
    	<emp>Play</emp>
    </div>

    <div id="pause">
    	<emp>Pause</emp>
    </div>

    <div id="stop">
    	<emp>Stop</emp>
    </div>


    <div id="favorite_tracks">
    </div>

  </div>  

  <aside class="large-3 columns">
      
      <hr>
      <!-- Create a new room -->

      <h4>Create New Room</h4>
      <%= form_for @room do |r| %>
        <%= r.label :name %>
        <%= r.text_field :name %><br />
        <%= r.submit%>
      <%end%>  

  </aside>

    

  <aside class="large-3 columns"> 
    <h4>List of my Rooms</h4>

    <% Room.all.each do |room| %>
      <%= link_to room.name, room_path(room) %><br />
    <% end %>

  </aside>

  











