
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="https://w.soundcloud.com/player/api.js"></script>

<script>
	
	SC.initialize({
	  client_id: '173c1924dc4e55b0db3b89a45bb71561'
	});


	function getUserFavoriteTracks() {
		var soundcloud_id =  <%= current_user.soundcloud_user_id %>
		SC.get('/users/'+soundcloud_id+'/favorites', function(favorites) {
			var urls = [];
			for (var i=0; i<favorites.length; i++) {
				var trackTitle = favorites[i].title;
				var trackId = favorites[i].id;
				var trackUrl = favorites[i].permalink_url;
				// var trackStreamUrl = favorites[i].stream_url;
				
				// $('#favorite_tracks').append("<p class='track' data-track-id="+trackId+" data-track-order="+i+" data-track-url="+trackUrl+">"+trackTitle+"</p>");
				urls.push(trackUrl);
			}

			startPlayer(urls);

			$('.track').click(function(e) {
				console.log('this click?');
				console.log($(this).data('track-url'));
			});	
    });
	};

    
   // function playTrack(id) {
   // 	console.log(id);
   //  SC.whenStreamingReady(function() {
     
	  //    	var sound = SC.stream(id, { autoPlay: false }, function(sound){
   //   		console.log(sound);
   //    	sound.play(
   //    	{
   //    		onfinish: function(){
   //    			alert('track_finished');
   //    		}
   //    	}
   //    	);
   //  	});
   //   	$('#pause').click(function(e){
   //   			sound.pause();
   //   	});
   //   	$('#play').click(function(e){
   //   			sound.resume();
   //   	});
  	// });
	// }

  (function() {
      var script = document.createElement("script");
      
      script.type = "text/javascript";
      script.async = true;
      script.src = "//sd.toneden.io/production/toneden.loader.js"
      
      var entry = document.getElementsByTagName("script")[0];
      entry.parentNode.insertBefore(script, entry);
  }());
  
  function startPlayer(urls){
  	console.log(urls);
	  ToneDenReady = window.ToneDenReady || [];
	  ToneDenReady.push(function() {
	      // Modify the dom and urls parameters to position
	      // your player and select tracks/sets/artists to play.
	      ToneDen.player.create({
	          dom: "#player",
	          urls: urls
	      });
	  });
	}

	getUserFavoriteTracks();

</script>


  <div class="large-9 columns">
    
    <h1>User's Page</h1>


    <h1><%= current_user.soundcloud_username%>'s Dashboard</h1>
    <div id="player"></div>

    <%= request.original_url %>
    <hr>

    <div id="favorite_tracks">
    </div>

  </div>  

  <aside class="large-3 columns">

      <ul class="side-nav">
        <!-- Create New Room Form-->
        <%= form_for @room do |f| %>
        <!-- Form Error Handling -->
        <div class="error-message">
          <% if @room.errors.any? %>
            <div class="error-message-header"> 
              <%= pluralize(@room.errors.count, "error") %> prevented this room from being created:
            </div>
            <ul>
              <% @room.errors.full_messages.each do |msg| %>
                <li class="error-message-body"><%= msg %></li>
              <% end %>
            </ul>  
          <%end%>
        </div>
        <hr>
        <!-- From Input Fields -->
        <h4>Create New Room</h4>

          <%= f.label :name %>
          <%= f.text_field :name %><br />
          <%= f.submit%>
        <%end%>  
      </ul>
  </aside>

  <aside class="large-3 columns"> 
    <h4>List of my Rooms</h4>
      <% @rooms.each do |room| %>
      <%= link_to room.name, room_path(room) %><br />
    <% end %>

  </aside>





