  
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="https://w.soundcloud.com/player/api.js"></script>

<script>
	$(document).ready(function() {
		SC.initialize({
	  client_id: '173c1924dc4e55b0db3b89a45bb71561'
		});

	function getUserFavoriteTracks() {
		console.log('inside')
		var soundcloud_id =  <%= current_user.soundcloud_user_id %>
		SC.get('/users/'+soundcloud_id+'/favorites', function(favorites) {
			// var urls = [];
			for (var i=0; i<favorites.length; i++) {
				var trackTitle = favorites[i].title;
				var trackId = favorites[i].id;
				var trackUrl = favorites[i].permalink_url;
				var trackStreamUrl = favorites[i].stream_url;
				var trackOrder = i;
				
				$('#favorite_tracks').append("<p class='track' id='"+trackOrder+"' data-track-id="+trackId+" data-track-order="+i+" data-track-url="+trackUrl+">"+trackTitle+"</p>");
			}
				
    });
	}

	// var playUrl

	function playTrack(id, nextTrackOrder) {
    $(".track").addClass("unselected-songs");

    SC.whenStreamingReady(function() {
      sound = SC.stream(id, { autoPlay: false }, function(sound){
      console.log(sound);
        sound.play({
          onfinish: function(){
            console.log('track finished');
            skipper();
          },
          onplay: function(){
          	var playingTrackId = nextTrackOrder - 1;
          	$('#'+playingTrackId).removeClass("unselected-songs").addClass("selected-song");
          	console.log(playingTrackId);
          	// alert('song started playing');
          }
        });
    	});

      $('.track').click(function(e){
      	sound.stop();
      })

			function skipper(){
      	sound.stop();      	
      	var elements = $(document.getElementsByClassName("track"));
				var numberOfTracks = elements.length;
				console.log(numberOfTracks);
				var subsequentTrack = nextTrackOrder + 1;
				if(nextTrackOrder == numberOfTracks){
					nextTrackOrder = 0;
					subsequentTrack = 1;
				}
				var nextTrackScId = $('#'+nextTrackOrder).data('track-id');
      	console.log(nextTrackScId);      	
      	playTrack(nextTrackScId, subsequentTrack);
      }
      $('#skip').click(skipper);

      $('#pause').click(function(e){
          sound.pause();
      });
      $('#play').click(function(e){
          sound.resume();
      });
      $('#mute').click(function(e){
          sound.setVolume(0);
      });
      $('#med-volume').click(function(e){
          sound.setVolume(40);
      });
      $('#high-volume').click(function(e){
          sound.setVolume(100);
      });
    });
  }

	$('body').on('click','.track', function(e) {
		console.log('this click?');
		var scTrackId = $(this).data('track-id');
		var nextTrackOrder = ($(this).data('track-order')) + 1;
		console.log($(this).data('track-url'));
		playTrack(scTrackId, nextTrackOrder);
	});
	
	getUserFavoriteTracks();
});
	


</script>


  <div class="large-9 columns">

    <!-- <iframe id="sc-widget" width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=true"> </iframe> -->
    
    <h2><%= current_user.soundcloud_username %>'s Dashboard</h2>

    <div id="player"></div>

    <% request.original_url %>
    <hr>
    <p>
	    <div id="play">Play</div>
	    <div id="pause">Pause</div>
	    <div id="skip">Skip</div>
    </p>
    <p>
    	<div id="mute">Mute</div>
    	<div id="med-volume">Med</div>
    	<div id="high-volume">High</div>
    </p>

    <div id="favorite_tracks">
    </div>

  </div>  

  <aside class="large-3 columns">

      <ul class="side-nav">
        <!-- Create New Room Form-->
        <%= form_for @room do |f| %>
        <!-- Form Error Handling -->
        <div class="error-message">
          <% if @room.errors.any? %>
            <div class="error-message-header"> 
              <%= pluralize(@room.errors.count, "error") %> prevented this room from being created:
            </div>
            <ul>
              <% @room.errors.full_messages.each do |msg| %>
                <li class="error-message-body"><%= msg %></li>
              <% end %>
            </ul>  
          <%end%>
        </div>
        <hr>
        <!-- From Input Fields -->
        <h4>Create New Room</h4>

          <%= f.label :name %>
          <%= f.text_field :name %><br />
          <%= f.submit%>
        <%end%>  
      </ul>
  </aside>

  <aside class="large-3 columns"> 
    <h4>List of my Rooms</h4>
      <% @rooms.each do |room| %>
      <%= link_to room.name, room_path(room) %><br />
    <% end %>

  </aside>

  <style>

		.selected-song {
			color:red;
		}

		.unselected-songs {
			color:green;
		} 

  </style>