  
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="https://w.soundcloud.com/player/api.js"></script>

<script>
	$(document).ready(function() {
		window.playlist = []
		SC.initialize({
	  client_id: '173c1924dc4e55b0db3b89a45bb71561'
		});

	function getUserFavoriteTracks() {
		console.log('inside')
		var soundcloud_id =  <%= current_user.soundcloud_user_id %>
		SC.get('/users/'+soundcloud_id+'/favorites', function(favorites) {
			// var urls = [];
			for (var i=0; i<favorites.length; i++) {
				var trackTitle = favorites[i].title;
				var trackId = favorites[i].id;
				var trackUrl = favorites[i].permalink_url;
				var trackStreamUrl = favorites[i].stream_url;
				var trackOrder = i;
				window.playlist.push(trackId);
				
				$('#favorite_tracks').append("<p class='tracks' id='"+trackOrder+"' data-sc-track-id="+trackId+" data-track-order="+i+" data-track-url="+trackUrl+">"+trackTitle+"</p>");
			}
			console.log('scArrayData:'+ window.playlist);
    });
	}

	$('body').on('click','.tracks', function(e) {
		console.log('this click?');
		var scTrackId = $(this).data('sc-track-id');
		// var nextTrackOrder = ($(this).data('track-order')) + 1
		playTrack(scTrackId);
	});
	
	getUserFavoriteTracks();
});

</script>


    <div id="dashboard" class="large-9 columns">
    
    
    <h2><%= current_user.soundcloud_username %>'s Dashboard</h2>
    

    <div id="player">
    </div>

   <!--  <div id="play">
      <emp>Play</emp> 
    </div>

    <div id="pause">
      <emp>Pause</emp>
    </div>
    
    <div id="stop">
      <emp>Stop</emp>
    </div> -->

      <p> Any song that you have liked or favorited on soundcloud appears here. Etsy locavore mumblecore, roof party mixtape trust fund salvia butcher kogi letterpress cardigan. Irony flexitarian trust fund master cleanse. +1 Tonx sriracha quinoa. </p>
 


    <div id="favorite-track-section">
      <h3>Favourite tracks</h3>
        <div id="player"></div>
          <% request.original_url %>
          <hr>
          <p>
            <div id="play"><i class="fa fa-play"></i></div>
            <div id="pause"><i class="fa fa-pause"></i></div>
            <div id="skip"><i class="fa fa-fast-forward"></i></div>
          </p>
          <p>
            <div id="mute">Mute</div>
            <div id="med-volume">Med</div>
            <div id="high-volume">High</div>
          </p>
      <div id="favorite-track-table">
        <div id="favorite_tracks">
          
        </div>
      </div>
    </div>

  </div>  

  <aside class="large-3 columns" id="room-option-tab">

      <ul class="side-nav">
        <%= form_for @room do |f| %>
        <!-- Room Create Error Handling -->
        <div class="error-message">
          <% if @room.errors.any? %>
            <div class="error-message-header"> 
              <%= pluralize(@room.errors.count, "error") %> prevented this room from being created:
            </div>
            <ul>
              <% @room.errors.full_messages.each do |msg| %>
                <li class="error-message-body"><%= msg %></li>
              <% end %>
            </ul>  
          <%end%>
        </div>
        
        <!-- Create a new room -->

          <h4>Create New Room</h4>
            <%= f.label :name %>
            <%= f.text_field :name %><br />
            <%= f.submit%>
        <%end%>  
      </ul>
    
      <%= render partial: "shared/rooms_lists" %>

  </aside>