  
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="https://w.soundcloud.com/player/api.js"></script>

<script>
	$(document).ready(function() {
		SC.initialize({
	  client_id: '173c1924dc4e55b0db3b89a45bb71561'
		});

	function getUserFavoriteTracks() {
		console.log('inside')
		var soundcloud_id =  <%= current_user.soundcloud_user_id %>
		SC.get('/users/'+soundcloud_id+'/favorites', function(favorites) {
			// var urls = [];
			for (var i=0; i<favorites.length; i++) {
				var trackTitle = favorites[i].title;
				var trackId = favorites[i].id;
				var trackUrl = favorites[i].permalink_url;
				var trackStreamUrl = favorites[i].stream_url;
				var trackOrder = i;
				
				$('#favorite_tracks').append("<p class='tracks' id='"+trackOrder+"' data-sc-track-id="+trackId+" data-track-order="+i+" data-track-url="+trackUrl+">"+trackTitle+"</p>");
			}
				
    });
	}

	$('body').on('click','.tracks', function(e) {
		console.log('this click?');
		var scTrackId = $(this).data('sc-track-id');
		// var nextTrackOrder = ($(this).data('track-order')) + 1
		playTrack(scTrackId);
	});
	
	getUserFavoriteTracks();
});

</script>


  <div class="large-9 columns">

    <h2><%= current_user.soundcloud_username %>'s Dashboard</h2>

    <div id="player"></div>
    <div id="progressBarBackground">
			<div class="progressBar"></div>
		</div>

    <% request.original_url %>
    <hr>
    <p>
	    <div id="play">Play</div>
	    <div id="pause">Pause</div>
	    <div id="skip">Skip</div>
    </p>
    <p>
    	<div id="mute">Mute</div>
    	<div id="med-volume">Med</div>
    	<div id="high-volume">High</div>
    </p>

    <div id="favorite_tracks">
    </div>

  </div>  

  <aside class="large-3 columns">

      <ul class="side-nav">
        <!-- Create New Room Form-->
        <%= form_for @room do |f| %>
        <!-- Form Error Handling -->
        <div class="error-message">
          <% if @room.errors.any? %>
            <div class="error-message-header"> 
              <%= pluralize(@room.errors.count, "error") %> prevented this room from being created:
            </div>
            <ul>
              <% @room.errors.full_messages.each do |msg| %>
                <li class="error-message-body"><%= msg %></li>
              <% end %>
            </ul>  
          <%end%>
        </div>
        <hr>
        <!-- From Input Fields -->
        <h4>Create New Room</h4>

          <%= f.label :name %>
          <%= f.text_field :name %><br />
          <%= f.submit%>
        <%end%>  
      </ul>
  </aside>

  <aside class="large-3 columns"> 
    <h4>List of my Rooms</h4>
      <% @rooms.each do |room| %>
      <%= link_to room.name, room_path(room) %><br />
    <% end %>

  </aside>

  <style>

	p.tracks.selected-song {
		color:red;
	}

	.progressBar {
		background-color: #FFF;
		height: 15px;
	}

	#progressBarBackground{
		background-color: #333333;
		height: 15px;
		margin-top: 10px;
		position: relative;
		width: 100%;
	}

  </style>