
<% @songs.each_with_index do |song, index| %>
	<div class="tracks" id="<%= index %>" data-track-index= "<%= index %>" data-image-url= "<%= song.image_url %>" data-sc-track-id="<%= song.soundcloud_track_id %>" data-track-order="<%= index %>">              
    <img src="<%= song.image_url %>" >  
    <div class="track-info">
      <h1 class="name-style"><%= song.title %></h1>
      <span class="time-style"><%= Time.at(song.duration / 1000).strftime("%-M:%S") %> min
      </span> <br>
      <span class="comment-text">curated by <%= song.user.soundcloud_username %>
      </span>
     </div> 
   </div>
<% end %>  