<div class="large-3 columns public-list">
  <%= render partial: "/rooms/chatbar" %>
  <div id="row player-wrap">
    <h3>Player goes here</h3>
    <p>
      <span id="play">Play</span>
      <span id="pause">Pause</span>
      <span id="skip">Skip</span>
    </p>
    <p>
      <span id="mute">Mute</span>
      <span id="med-volume">Med</span>
      <span id="high-volume">High</span>
    </p>      
  </div>
</div><br />

<div class="row" data-room-id="<%= @room.id %>">
  <div class="large-9 column">
    <div class="room-tracks"> 
      <h1>Tracks on this page</h1>
      <% @songs.each_with_index do |song, index| %>
        <p class="tracks" id="<%= index %>" data-image-url= "<%= song.image_url %>" data-sc-track-id="<%= song.soundcloud_track_id %>" data-track-order="<%= index %>"> 
        <%= song.title %> - courtesy of <%= song.user.soundcloud_username %> <%= song.duration %> milliseconds 
        </p>
      <% end %>
    </div>
  </div>
</div>    