<div id="songs-on-page-tab"> Songs in group</div>      
  <div id="hidden">
    <div class="row" data-room-id="<%= @room.id %>">
      <div class="large-4 column room-playlist">
        <div class="room-tracks"> 
          <h3><%= @room.name %>'s Playlist</h3>
            <% @songs.each_with_index do |song, index| %>
              <p class="tracks" id="<%= index %>" data-track-index= "<%= index %>" data-image-url= "<%= song.image_url %>" data-sc-track-id="<%= song.soundcloud_track_id %>" data-track-order="<%= index %>"> <%= song.image_url %><%= song.title %> - <%= Time.at(song.duration / 1000).strftime("%-M:%S") %> min | added by <%= song.user.soundcloud_username %> </p>
              
            <% end %>
        </div> <!--large9 column-->    
      </div>
    </div>  
  </div>
</div> <!--large9 column-->
