
<div id="main">
  <div class="row">
    <div class="large-9 column">
    <h1> <%= @room.name %> </h1>

      <!-- Only a User who created a room, can Delete a Room -->
    <% if current_user %>
      <% if @room.user_id == session[:user_id] %>
        <%= @room.name %> <%= link_to "delete", room_path(@room), method: :delete, data: {confirm: "You sure?"} %>
      <% end %>
    <% end %>

    <%= form_for @room do |f| %>
      <div class="error-message">
        <% if @room.errors.any? %>
          <div class="error-message-header"> 
            <%= pluralize(@room.errors.count, "error") %> prevented this room from being created:
          </div>
          <ul>
            <% @room.errors.full_messages.each do |msg| %>
              <li class="error-message-body"><%= msg %></li>
            <% end %>
          </ul>  
        <% end %>
      </div>
    <% end %>  
    </div> <!--large9 column-->

    <div class="large-3 columns public-list">

      <%= render partial: "/rooms/chatbar" %>

    </div>

    <div class="large-3">
      <% if current_user %>
        <h4>Room's Playlist</h4>
        <p>Add a new song to the playlist</p>
        <a href="#" data-reveal-id="myModal">+ songs</a>
          <div id="myModal" class="reveal-modal" data-reveal>   
            <div id="add-to-playlist">
            <%= render partial: "/rooms/addtoplaylist" %>
            <% @songs.each do |song| %>
            <%= song.url %><br />
        <% end %>
      <% else %> 
        <div class="large-8 column">
          <div data-alert class="alert-box alert">
            <p>Please sign in to add to the playlist.</p>
            <a href="#" class="close">&times;</a>
          </div>
        </div>  
      <% end %>
      </div>
  <!--     </div> -->
    </div><br />

    
    <div class="row player-wrap">
      <h3>Player goes here</h3>
      </div>
    </div>
  </div>

<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
  SC.initialize({
    client_id: '173c1924dc4e55b0db3b89a45bb71561'
  });

  function getUserFavoriteTracks() {

    var soundcloud_id = <%= current_user.soundcloud_user_id %>
    
    SC.get('/users/'+soundcloud_id+'/favorites', function(favorites) {
      for (var i=0; i<favorites.length; i++) {
        var trackTitle = favorites[i].title.replace("'",'"');
        var trackId = favorites[i].id;
        var trackStreamUrl = favorites[i].stream_url;
        var trackOrder = i;
        var duration = favorites[i].duration;
        var trackImage = favorites[i].artwork_url;

        $('#favorite_tracks').append("<tr><td class='track'>"+trackTitle+"</td><td><a href='' class='button tiny' id='"+i+"' data-track-image='"+trackImage+"' data-duration='"+duration+"' data-title='"+trackTitle+"' data-track-id='"+trackId+"' data-track-order='"+i+"'>Add</a></td></tr>")
      }

      $('.button').on('click', function(){
        var scTrackId = $(this).data('track-id');
        var title = $(this).data('title');
        var duration = $(this).data('duration');
        var roomId = $('[data-room-id]').data('room-id');
        // console.log(scTrackId);
        saveToDb(scTrackId, title, duration, roomId);
      });
      
      function saveToDb(scTrackId, title, duration, roomId){
        console.log(scTrackId);
        $.ajax({
          url: "<%= songs_path %>",
          data: {  
            soundcloud_track_id: scTrackId,
            title: title,
            duration: duration,
            room_id: roomId
            },
          type: "POST",
          success: function(){
            alert("shit got saved");
          },
          error: function (err) {
            console.log(err);
          }
        });
      }
              
      $('.track').click(function(e) {
        console.log('this click?');
        playTrack($(this).data('track-id'));
      }); 
    });
  };
    
  getUserFavoriteTracks();
</script>

<div class="row" data-room-id="<%= @room.id %>">
  <div class="large-9 column">
    <h1> <%= @room.name %> </h1>
    <span style="color:white;"> <%= request.original_url %> </span>
      <!-- Only a User who created a room, can Delete a Room -->
    <% if current_user %>
      <% if @room.user_id == session[:user_id] %>
        <%= @room.name %> <%= link_to "delete", room_path(@room), method: :delete, data: {confirm: "You sure?"} %>
      <% end %>
    <% end %>
    <!-- Tracks from SoundCloud -->
    

    <table>
      <thead>
        <tr>
          <th width="200">Tracks from Soundcloud</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="favorite_tracks" >
      
        <!-- My SC Song streams in here -->
      </tbody>

    </table>

  <h1>Song's on this page</h1>
    <% @songs.each do |song| %>
      <%= song.user.soundcloud_username %> <%= song.title %> <%= song.duration %> <%= song.image_url %><%= song.soundcloud_track_id %><br />
    <% end %>

  </div> <!--large9 column-->

  <div class="large-3 columns public-list">

  <div class="large-3 columns chat-wrap">
    <%= render partial: "/rooms/chatbar" %>
  </div>

  <div class="large-3">
    <% if current_user %>
      <h4>Room's Playlist</h4>
      <p>Add a new song to the playlist</p>
      <a href="#" data-reveal-id="myModal">+ songs</a>
        <div id="myModal" class="reveal-modal" data-reveal>
          <%= render partial: "/rooms/addtoplaylist" %>
          
    <% else %> 
      <div class="large-8 column">
        <div data-alert class="alert-box alert">
          <p>Please sign in to add to the playlist.</p>
          <a href="#" class="close">&times;</a>
        </div>
      </div>  
    <% end %>
    </div>
  </div><br />

  <div class="row player-wrap">
    <h3>Player goes here</h3>
  </div>
</div>

<script>

      $(function() {     
        console.log('hey');
        var pusher = new Pusher('55b13e9beb0afef1e1cf');
        var chatWidget = new PusherChatWidget(pusher, {
          appendTo: '#pusher_chat_widget'
        });
      });

</script>


 <!--  <div style=" border: solid 2px; height:100px; width:350px; overflow:scroll;"> -->









