<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
  SC.initialize({
    client_id: '173c1924dc4e55b0db3b89a45bb71561'
  });

    function getUserFavoriteTracks() {

      var soundcloud_id = <%= current_user.soundcloud_user_id if current_user %>
      
      SC.get('/users/'+soundcloud_id+'/favorites', function(favorites) {
        for (var i=0; i<favorites.length; i++) {
          var trackTitle = favorites[i].title.replace("'",'"');
          var trackId = favorites[i].id;
          var trackStreamUrl = favorites[i].stream_url;
          var trackOrder = i;
          var duration = favorites[i].duration;
          var trackImage = favorites[i].artwork_url;

          $('#favorite_tracks').append("<tr class='track-row'><td class='track'>"+trackTitle+"</td><td><a href='' class='button button-update button-add tiny' id='"+i+"' data-track-image='"+trackImage+"' data-duration='"+duration+"' data-title='"+trackTitle+"' data-track-id='"+trackId+"' data-track-order='"+i+"'><span class='button-name'>Add</span></a></td></tr>")
        }

        $('.button-update').on('click', function(e){
          e.preventDefault();

          var $this = $(this),
              data = {
                soundcloud_track_id: $this.data('track-id'),
                title: $this.data('title'),
                duration: $this.data('duration'),
                room_id: $('[data-room-id]').data('room-id')
              };
          // var title = $(this).data('title');
          // var duration = $(this).data('data-durationtion');
          // var roomId = $('[data-room-id]').data('room-id');
          // console.log(e);
          // console.log(this);
          if ($(this).hasClass('button-add')) {
            $(this).removeClass('button-add').addClass('button-remove');
              $(this).text('Remove');
              saveToDb(data);
          } else {
            $(this).removeClass('button-remove').addClass('button-add');
              $(this).text('Add');
              removeFromDb(data);
          }
        });
        // Add Data to DB
        function saveToDb(data){
          console.log('Add Function Works!');
          var $this = $(this);
          $.ajax({
            url: "<%= songs_path %>",
            data: data,
            dataType:  'json',
            type: "POST",
            success: function(data){
              // TODO: need to store the returned db id in the dom for the delete button later  
              $this.data("id", data.id);
            
              alert("shit got saved");
            },
            error: function (err) {
              console.log(err);
            }
          });
        }
        // Remove Data to DB
        function removeFromDb(){
          console.log('REMOVE FUNCTION WORKS');
          // need to dynamically get the song_id from the dom
          var $this = $(this);
          var song_id = $this.data('id');
          $.ajax({
            url: "<%= songs_path %>/" + song_id,
            data: {"_method":"delete"},
            type: "POST",
            success: function(){
              alert("shit got removed!");
            },
            error: function (err) {
              console.log(err);
            }
          });
          // event.preventDefault();
        }


                
        $('.track').click(function(e) {
          console.log('this click?');
          playTrack($(this).data('track-id'));
        }); 
      });
    };
      
    getUserFavoriteTracks();
  </script>
  <script>

        $(function() {     
          console.log('hey');
          var pusher = new Pusher('55b13e9beb0afef1e1cf');
          var chatWidget = new PusherChatWidget(pusher, {
            appendTo: '#pusher_chat_widget'
          });
        });

</script>

<div id="main">
  <div class="row">
    <div class="large-9 column">
    <h1> <%= @room.name %> </h1>

      <!-- Only a User who created a room, can Delete a Room -->
    <% if current_user %>
      <% if @room.user_id == session[:user_id] %>
        <%= @room.name %> <%= link_to "delete", room_path(@room), method: :delete, data: {confirm: "You sure?"} %>
      <% end %>
    <% end %>

    <%= form_for @room do |f| %>
      <div class="error-message">
        <% if @room.errors.any? %>
          <div class="error-message-header"> 
            <%= pluralize(@room.errors.count, "error") %> prevented this room from being created:
          </div>
          <ul>
            <% @room.errors.full_messages.each do |msg| %>
              <li class="error-message-body"><%= msg %></li>
            <% end %>
          </ul>  
        <% end %>
      </div>
    <% end %>  
    </div> <!--large9 column-->

    <div class="large-3 columns public-list">
      <%= render partial: "/rooms/chatbar" %>
        <div class="row player-wrap">
          <h3>Player goes here</h3>
        </div>

    <div class="row">
      <% if current_user %>
        <h4>Room's Playlist</h4>
        <p>Add a new song to the playlist</p>
        <a href="#" data-reveal-id="myModal">+ songs</a>
          <div id="myModal" class="reveal-modal" data-reveal>   
            <div id="add-to-playlist">
            <%= render partial: "/rooms/addtoplaylist" %>
            <% @songs.each do |song| %>
            <%= song.image_url %><br />
        <% end %>
      <% else %> 
        <div class="large-8 column">
          <div data-alert class="alert-box alert">
            <p>Please sign in to add to the playlist.</p>
            <a href="#" class="close">&times;</a>
          </div>
        </div>  
      <% end %>
      </div>
    </div> <!-- side chat bar -->

  <!--     </div> -->
    </div><br />

    
    
  </div>


<div class="row" data-room-id="<%= @room.id %>">
  <div class="large-9 column">
    <!-- <span style="color:white;"> <%= request.original_url %> </span> -->
    
    <% if current_user %>
      <!-- Tracks from SoundCloud -->
      <table>
        <thead>
          <tr>
            <th width="200">Tracks from Soundcloud</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="favorite_tracks" >
          <!-- My SC Song streams in here -->
        </tbody>
      </table>
    <% end %>

  <h1>Song's on this page</h1>
    <% @songs.each do |song| %>
      <%= song.id %><%= song.user.soundcloud_username %> <%= song.title %> <%= song.duration %> <%= song.image_url %><%= song.soundcloud_track_id %><br /><a class='button-delete'>Delete</a>
    <% end %>

    // <script type="text/javascript">


    //   $('.button-delete').on('click', function(e){
    //     e.preventDefault();

    //     // console.log(song.id);
        
    //     removeFromDb();
    //   });

    //   function removeFromDb(){
    //       console.log('REMOVE FUNCTION WORKS');
    //       $.ajax({
    //         url: "<%= song_path %>"+ song_id,
    //         dataType: "json",
    //         data: {'_method':'delete'},
    //         type: "POST",
    //         success: function(){
    //           alert("shit got removed!");
    //         },
    //         error: function (err) {
    //           console.log(err);
    //         }
    //       });
    //       event.preventDefault();
    //     }

    // </script>

    



  </div> <!--large9 column-->

<!--   <div class="large-3 columns public-list">
 -->


  
<!-- </div>
 -->


 <!--  <div style=" border: solid 2px; height:100px; width:350px; overflow:scroll;"> -->

