<div id="main">
  <div class="row">
    <div class="large-9 column">
    <h1> <%= @room.name %> </h1>

      <!-- Only a User who created a room, can Delete a Room -->
    <% if current_user %>
      <% if @room.user_id == session[:user_id] %>
        <%= @room.name %> <%= link_to "delete", room_path(@room), method: :delete, data: {confirm: "You sure?"} %>
      <% end %>
    <% end %>

    <%= form_for @room do |f| %>
      <div class="error-message">
        <% if @room.errors.any? %>
          <div class="error-message-header"> 
            <%= pluralize(@room.errors.count, "error") %> prevented this room from being created:
          </div>
          <ul>
            <% @room.errors.full_messages.each do |msg| %>
              <li class="error-message-body"><%= msg %></li>
            <% end %>
          </ul>  
        <% end %>
      </div>
    <% end %>  
    </div> <!--large9 column-->

    <div class="large-3 columns public-list">

      <%= render partial: "/rooms/chatbar" %>

    </div>

    <div class="large-3">
      <% if current_user %>
        <h4>Room's Playlist</h4>
        <p>Add a new song to the playlist</p>
        <a href="#" data-reveal-id="myModal">+ songs</a>
          <div id="myModal" class="reveal-modal" data-reveal>   
            <div id="add-to-playlist">
            <%= render partial: "/rooms/addtoplaylist" %>
            <% @songs.each do |song| %>
            <%= song.url %><br />
        <% end %>
      <% else %> 
        <div class="large-8 column">
          <div data-alert class="alert-box alert">
            <p>Please sign in to add to the playlist.</p>
            <a href="#" class="close">&times;</a>
          </div>
        </div>  
      <% end %>
      </div>
  <!--     </div> -->
    </div><br />

    
    <div class="row player-wrap">
      <h3>Player goes here</h3>
      </div>
    </div>
  </div>


<script>

      $(function() {     
        console.log('hey');
        var pusher = new Pusher('55b13e9beb0afef1e1cf');
        var chatWidget = new PusherChatWidget(pusher, {
          appendTo: '#pusher_chat_widget'
        });
      });

</script>

 <!--  <div style=" border: solid 2px; height:100px; width:350px; overflow:scroll;"> -->









