

<div id='scuserid' data-scid= '<%= current_user.soundcloud_user_id if current_user %>' ></div>
<div id='scusername' data-scusername='<%= current_user.soundcloud_username if current_user %>' ></div>

<div class="large-12" style="clear:both">
	<div class="large-9 column room-content">
		<h1> <%= @room.name %> </h1>

		<!-- Only a User who created a room, can Delete a Room -->
		<% if current_user %>
			<% if @room.user_id == session[:user_id] %>
				<%= @room.name %> <%= link_to "delete", room_path(@room), method: :delete, data: {confirm: "You sure?"} %>
			<% end %>
		<% end %>

		<%= form_for @room do |f| %>
			<div class="error-message">
				<% if @room.errors.any? %>
					<div class="error-message-header"> 
						<%= pluralize(@room.errors.count, "error") %> prevented this room from being created:
					</div>
					<ul>
						<% @room.errors.full_messages.each do |msg| %>
							<li class="error-message-body"><%= msg %></li>
						<% end %>
					</ul>  
				<% end %>
			</div>
		<% end %>  
	</div> 
		
		<div id="right-window" class="large-3 column">
				<%= render partial: "/rooms/chatbar" %>
				<div class="player-wrap">
					<div id="progressBarBackground">
							<div class="progressBar"></div>
					</div>
					<h3>Player goes here</h3>
					<p>
						<span id="play">Play</span>
						<span id="pause">Pause</span>
						<span id="skip">Skip</span>
					</p>
					<p>
						<span id="mute">Mute</span>
						<span id="med-volume">Med</span>
						<span id="high-volume">High</span>
					</p>      
				</div>

				<div class="playlist">
					<% if current_user %>
						<h4>Room's Playlist</h4>
						<p>Add a new song to the playlist</p>
						<a href="#" class="manage-songs-btn" data-reveal-id="myModal">manage songs</a>
							<div id="myModal" class="reveal-modal" data-reveal>   
								<div id="add-to-playlist">
								<%= render partial: "/rooms/addtoplaylist" %>
								<% @songs.each do |song| %>
								<%= song.image_url %><br />
						<% end %>
					<% else %> 
						<div class="large-8 column">
							<div data-alert class="alert-box alert">
								<p>Please sign in to add to the playlist.</p>
								<a href="#" class="close">&times;</a>
							</div>
						</div>  
					<% end %>
							</div>
						</div> 
				</div>
			</div>
			
<div id="songs-on-page-tab"> Hide Playlist </div>      
	<div id="visible-playlist">
		<div class="row" data-room-id="<%= @room.id %>">
			<div class="large-4 column room-playlist">
				<div class="room-tracks"> 

					<h3><%= @room.name %>'s Playlist</h3>
            
            <%= render partial: "/shared/displaysongs" %>

				</div> <!--large9 column-->    
			</div>
		</div>  
	</div>

</div> <!--large9 column-->



