<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "SoundRoom" %></title>

    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="wrapper">
      <div class="gradient one">
        <div class="gradient two">
        </div>  
      </div>  

  <%= render partial: "/shared/topnav" %>

  <!-- Main Page Content -->
    <div class="row">
      <div class="large-12 columns" role="content">

        <div class="flash-message"> 
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: name %>
          <% end %>
        </div>

        <%= yield %>

      </div>    
    </div>

  <div class="push">
  </div> <!--clearfix helper for footer -->

  <!-- End Main Content and Sidebar -->

  <!-- Footer -->
  <%= render partial: "/shared/footer" %>

  <script>
     $(document).ready(function () {

        $('.curo').transition({
          perspective: '100px',
          rotate3d: '1,1,0,180deg'
        }); 

        fadeToggle( $('.gradient.one') );
        fadeToggle( $('.gradient.two') );

        function fadeToggle(el, hide) {
         el.fadeToggle( 30000, null, function() { fadeToggle(el); });
        }

      });

     $('.curo').mouseover(function(){
        $(this).transition({
          perspective: '100px',
          rotateY: '180deg'
        }); 
      });
     
  </script>

 
  <%= javascript_include_tag "vendor/modernizr" %>
  </body>
</html>