
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "SoundRoom" %></title>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="wrapper">

      <div class="gradient one">
        <div class="gradient two">
        </div>  
      </div>  

  <%= render partial: "/shared/topnav" %>

  <!-- Main Page Content -->
    <div class="row">
      <div class="large-12 columns" role="content">

        <div class="flash-message"> 
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: name %>
          <% end %>
        </div>

        <%= yield %>

      </div>    
    </div>

  <div class="push">
  </div> <!--clearfix helper for footer -->

  <!-- End Main Content and Sidebar -->

  <!-- Footer -->

    <div class="row footer">
      <div class="large-12 columns">
        <hr>
          <div class="row">
            <div class="large-6 columns">

               <p>&copy; Copyright no one at all. This Footer should always remain at the bottom</p>

            </div>

            <div class="large-6 columns">
              <ul class="inline-list right">

                <li><a href="#">Link 1</a></li>

              </ul>
            </div>
          </div>
      </div>
    </div>

  <%= render partial: "/shared/footer" %>


  <script>
     $(document).ready(function () {

        fadeToggle( $('.gradient.one') );
        fadeToggle( $('.gradient.two') );

        function fadeToggle(el, hide) {
         el.fadeToggle( 60000, null, function() { fadeToggle(el); });
        }

      });
  </script>

 
  <%= javascript_include_tag "vendor/modernizr" %>
  </body>
</html>