<!DOCTYPE html>
<html>
<head>
  <title>SoundRoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  Logged in as <%=current_user[:soundcloud_username]%>
  <%= link_to '/auth/logout', id: "sc-signout" do %>
    <%= image_tag "btn-disconnect-s.png" %>
  <% end %>
<% else %>
  <%= link_to '/auth/soundcloud', id: "sc-signin" do %>
    <%= image_tag "btn-connect-sc-s.png" %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
